<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://masudcloud.github.io" target="_blank"
    >
    Copyright Ope AI MasudCloud
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://facebook.com/peradoxhuman" target="_blank"
    >
      Send love On Facebook
    </a>
  </p>
</footer>
